body {
  text-align: center;
}
.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  width: 200px;
  height: 200px;
  border-radius: 20%;
  border: 10px solid black;
  margin: 1.5rem;
}

.red {
  background-color: #d95980;
}
.yellow {
  background-color: #f99b45;
}
.green {
  background-color: #63aac0;
}
.purple {
  background-color: #819ff9;
}

/* Button Flash Class */
.flash {
  background-color: white;
}

.userflash {
  background-color: green;
}
