body {
  font-family: "Montserrat", sans-serif;
  background-color: #000;
  color: #fff;
  margin: 0;
  overflow: hidden;
}

.main {
  display: flex;
  height: 100vh;
  padding: 0.5rem;
}

.sidebar {
  background-color: #000; /*using color picker*/
  width: 340px;
  border-radius: 1rem; /*means 16px and so on*/
  margin-right: 0.5rem; /*for shifting the sidebar from right side 
  so that space can visible between sidebar and main content*/
}

.main-content {
  background-color: #121212;
  /* Sidebar को 340px मिलने के बाद बचा हुआ space main-content को देने के लिए flex:1 सेट किया गया है */
  /* For more details Flex-Sizing from Pdf notes */
  flex: 1;
  border-radius: 1rem;
  overflow: auto;
  padding: 0 1.5rem;
}

.music-player {
  background-color: black;
  /* Parent के Respect में fixed रहेगा  */
  position: fixed;
  /* Element को Parent(main) के Bottom से Offset (Shift) करता है But, 
  margin-bottom: Element और इसके नीचे वाले Element के बीच Space Add करता है*/
  bottom: 0;
  width: 100%;
  height: 72px;
}
a {
  text-decoration: none;
  color: white;
}

.nav {
  background-color: #121212;
  border-radius: 1rem; /*means 1rem = 16px and so on*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  padding: 0.5rem 0.75rem;
}

.nav-option {
  line-height: 2.5rem;
  opacity: 0.7;
  padding: 0.5rem 0.75rem;
}

.nav-option:hover {
  opacity: 1;
}

.nav-option i {
  font-size: 1.25rem;
}

.nav-option a {
  font-size: 1rem;
  margin-left: 1rem;
}

.lib-option img {
  /* same as other icon dimension */
  height: 1.25rem;
  width: 1.25rem;
}

.option {
  display: flex;
  /* .option div is divided into two parts. lib-option and icons. 
  set up: space-between will bring both of them at the ends. after that both can handle separatly for more specific position*/
  justify-content: space-between;
  /* it will make all the items inside .option div in center */
  align-items: center;
}

.library {
  background-color: #121212;
  border-radius: 1rem;
  /* sidebar divided into two parts: .nav and .library where .nav height is 100px already declared and 
  rest height will be given to library. so here we will give height: 100%*/
  height: 100%;
  /* this will create space of 8px between .nav and .library */
  margin-top: 0.5rem;
  padding: 0.5rem 0.75rem;
}

.icons {
  font-size: 1.25rem;
  display: flex;
}

.icons i {
  opacity: 0.7;
  margin-right: 1rem;
}

.icons i:hover {
  opacity: 1;
}

.box {
  height: 8.75rem;
  background-color: #232323;
  border-radius: 1rem;
  margin: 0.75rem 0 1.75rem 0;
  padding: 0.75rem 1rem;
}

.box-p1 {
  font-size: 1rem;
  font-weight: 500;
}

.box-p2 {
  font-weight: 0.85rem;
  opacity: 0.9;
}

.badge {
  background-color: #fff;
  border: none; /* default border removed*/
  font-size: 1rem;
  font-weight: 700;
  padding: 0.25rem 1rem;
  border-radius: 100px;
  margin-top: 0.5rem;
  height: 2rem;
}

.sticky-nav {
  position: sticky;
  background-color: #121212;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  z-index: 10;
}
.sticky-nav-icon {
  margin-left: 0.75rem;
}

.sticky-nav-option {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-item {
  margin-right: 1rem;
  margin-bottom: 0;
}

/*We want to hide some elements(forward button and explore button),specially 
when the device width goes down to 1000px. so here we provided class="hide" to both the element.
so that when height goes below 1000px it will be hide those element. 
if height is greater than 1000px all visible.now we will create media queries to perform this action*/
@media (max-width: 1000px) {
  .hide {
    display: none;
  }
}

/* Cards property here */
.card {
  background-color: #232323;
  width: 150px;
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin-left: 1.5rem;
  margin-bottom: 0.6rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.card-img {
  /* it will be set width 150px because it parent(card) width is 150px */
  width: 100%;
  border-radius: 0.5rem;
}

.card-title {
  font-weight: 600;
}

.card-info {
  font-size: 0.85rem;
  opacity: 0.8;
}

.footer {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 90%;
  height: 50%;
  border-top: 1px solid white;
  opacity: 0.4;
}

.music-player {
  display: flex;
  justify-content: center;
  align-items: center;
}

.album {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.album_img {
  height: 56px;
  width: 56px;
  border-radius: 0.5rem;
}

.album_info {
  font-size: 0.8rem;
  margin-left: 1rem;
}
#add_playlist_btn {
  height: 1.5rem;
  width: 1.5rem;
  opacity: 0.7;
}
#add_playlist_btn:hover {
  opacity: 1;
}
.player {
  width: 50%;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.controls i {
  margin-right: 8px;
}

.volume-bar {
  width: 50%;
  margin-right: 8px;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}

.volume-bar::-webkit-slider-runnable-track {
  background-color: #ddd;
  height: 0.2rem;
  border-radius: 100px;
}

.volume-bar::-webkit-slider-thumb {
  appearance: none;
  height: 0.75rem;
  width: 0.75rem;
  background-color: #1bd760;
  border-radius: 50%;
  margin-top: -5px;
}

.player-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-control-icon {
  height: 1rem;
  margin-right: 1.75rem;
  opacity: 0.7;
}

.player-control-icon:hover {
  opacity: 1;
}

.playback-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar {
  width: 70%;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track {
  background-color: #ddd;
  height: 0.2rem;
  border-radius: 100px;
}

.progress-bar::-webkit-slider-thumb {
  appearance: none;
  height: 0.75rem;
  width: 0.75rem;
  background-color: #1bd760;
  border-radius: 50%;
  margin-top: -5px;
}
