<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Post</title>
  </head>
  <body>
    <h3>Create a New Post</h3>
    <form action="/posts" method="post">
      <label for="username">Username:</label><br />
      <input type="text" id="username" name="username" required />
      <br />
      <label for="content">Content:</label><br />
      <textarea id="content" name="content" required></textarea>
      <br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
